.all-Spots {
    width: 100%
}

.all-spots-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: auto; */
    grid-column-gap: 1em;
    grid-row-gap: 4em;
    margin: 2em;
    /* margin-right: 30px;
    margin-left: 30px; */
}


.all-spots-container ul {
    list-style-type: none;
}

.single-spot {
    border: darkgray solid 2px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}


.single-spot-image-div {
    width: 100%;
    height: 70%;
}
.single-spot-image-div img {
    width: 100%;
    height: 100%
}

.single-spot-city-state-price {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr ;
}

.single-spot-city-state-price {
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
    height: 30%;
    grid-column: 1;
    grid-row: 1;
    font-size: 13px;
    color: black;
}

.single-spot-price{
    grid-column: 1;
    grid-row: 2;
    font-weight: bold;
}

.single-spot-star-rating {
    grid-column: 4;
    grid-row: 1;
}



/* @media only screen
and(max-width: 1128px){
.all-spots-container {
    .all-spots-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}} */
/* 
@media (min-width: 950px){
.all-spots-container {
  --breakpoint-grid_columns: 3;
}
} */
