.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.signup-form label {
    width: 300px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input {
    width: 90%

}

.signup-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;
    width: 350px;
}

.submit-button{
    background-color: whitesmoke;
    margin-top: 15px;
    width: 100%;
    font-size: 13px;
    height: 35px;
    box-shadow: 2px 2px 2px black;
}
