.review-stars-post-review-modal .one-star:hover {
    /* <i class="fas fa-star"></i> */
}

.review-stars-post-review-modal .two-star:hover {
    /* <i class="fas fa-star"></i> */
}
.review-stars-post-review-modal .three-star:hover {
    /* <i class="fas fa-star"></i> */
}
.review-stars-post-review-modal .four-star:hover {
    /* <i class="fas fa-star"></i> */
}
.review-stars-post-review-modal .five-star:hover {
    /* class="fas fa-star" */
}

.review-stars-post-review-modal i {
    color: #e6e6e6;
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
    margin-bottom: 15px;
}

.review-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;
    width: 350px;
}

.post-review-form-modal {
    resize: none;
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.five-star {
    margin-right: 5px;

}
