.hidden {
  display: none;
}
.home {
    font-size: 30px;
}

.home a {
    color: rgb(197, 86, 86);
    font-weight: bold;
}

.logout-in-profile-button {
    width: 75px;
    height: 40px;
    border-radius: 25px;
    margin: 9px 0px;
    font-size: 15px;
    background-color: black;
    color: white;
}

.logout-button {
    margin-top: 10px;
}

.manage-spots-in-profile-button {
    border-bottom: black 1px solid;
    padding: 9px 0px;
}

.manage-spots-link a {
    color: black;

}

.navbar {
    border-bottom: grey solid 2px;
    width: 100vw;
    height: 90px;
    margin-bottom: 5px;
    padding-top: 25px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-dropdown {
    list-style-type: none;
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 5px lightgray;
    padding: 10px 40px 10px 40px;
    z-index: 100;
    right: 50px;
    background-color: rgb(255, 255, 255);
}

.profile {

    margin-right: 25px;
    margin-left: 25px;
}

.profile-button {
    font-size: 20px;
    width: 75px;
    height: 40px;
    border-radius: 25px;
}

.right-container a {
    font-size: 20px;
    color: black;
}




.user-info-in-profile-button {
    border-bottom: black 1px solid;
    margin: 5px 0px;
    font-size: 20px;
    padding-bottom: 9px;
}

.username-in-profile-button {
    padding-bottom: 9px;
}


.right-container {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
