
.navbar {
    border: grey solid 2px;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    border: red solid 2px;
}

.profile {
    border: red solid 2px;
}


.profile-button {

}

.profile-dropdown {
    list-style-type: none;
}

.logout {

}

.right-container {
    display: flex;
    align-items: center;
}
