.profile-button i {
    padding-right: 7px;
}

.login-button, .singup-button {
    background: none;
    border: none;
    cursor: pointer;
}


.login-signup-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: baseline;
    justify-content: center;
}


.login-signup-menu {
    width: 70px
}
