.login-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;
    width: 350px;
}

.submit-button {
    background-color: whitesmoke;
    width: 100%;
    font-size: 13px;
    height: 35px;
    box-shadow: 2px 2px 2px black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.password, .username {
    width: 300px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password input, .username input {
    width: 90%
}

.password {
    padding-bottom: 20px;
}
